<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shlsoft.sevgisherlari">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.shlsoft.sevgisherlari.activities.SherActivity" android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.shlsoft.sevgisherlari.activities.SevgiActivity"
            android:parentActivityName="com.shlsoft.sevgisherlari.activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.shlsoft.sevgisherlari.activities.MainActivity" android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.shlsoft.sevgisherlari.activities.OilaActivity" android:parentActivityName="com.shlsoft.sevgisherlari.activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.shlsoft.sevgisherlari.activities.DostlikActivity" android:parentActivityName="com.shlsoft.sevgisherlari.activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.shlsoft.sevgisherlari.activities.TabrikActivity" android:parentActivityName="com.shlsoft.sevgisherlari.activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.shlsoft.sevgisherlari.activities.KulgiActivity" android:parentActivityName="com.shlsoft.sevgisherlari.activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.shlsoft.sevgisherlari.activities.AralashActivity" android:parentActivityName="com.shlsoft.sevgisherlari.activities.MainActivity"
            android:screenOrientation="portrait"
            />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2026382780923969~2464741349" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>